@media screen and (max-width: 515px) {
    main .content {
        flex-direction: column;
    }
    main .content canvas {
        width: 100%;
    }
}
@media screen and (min-width: 516px) {
    main .content canvas {
        width: 300px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #eeeeee80 1px solid;
}
main .header > * {
    flex: 1;
}
main .header button {
    margin-left: 15px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color .15s, box-shadow .15s;
}
main .header button:hover {
    background-color: #4a90e2;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
main .header button svg {
    display: block;
    width: 20px;
    height: 20px;
}
main .header button:hover svg path {
    transition: stroke .15s;
}
main .header button:hover svg path {
    stroke: #fff;
}
main .header p {
    /* margin: 0 auto; */
    text-align: center;
    line-height: 40px;
    font-size: 1.15rem;
}

main .content {
    display: flex;
    overflow: hidden;
    max-width: 890px;
}
main .content canvas {
    box-shadow: rgba(100, 100, 111, 0.15) 5px 0px 29px 0px;
    cursor: move;
}
main .content img {
    width: 300px;
    height: 400px;
    object-fit: contain;
    box-shadow: rgba(100, 100, 111, 0.15) 5px 0px 29px 0px;
}
main .content .right {
    margin: 0 30px;
    min-width: 30vw;
    padding: 20px 0;
}
main .content .right .btnGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
main .content .right .btnGroup button {
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 8px;
    background-color: #4a90e2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition: background-color .1s, box-shadow .1s;
}
main .content .right .btnGroup button:hover {
    background-color: #5796df;
}
main .content .right .btnGroup button span {
    color:#fff;
    margin-left: 3px;
}
main .content .right .btnGroup button svg {
    display: block;
    width: 16px;
    height: 16px;
}
main .content .right > *+* {
    margin-top: 10px;
}
main .content .right > div span:first-child {
    font-weight: 500;
}
main .content .right .btnGroup button.play svg:nth-child(2) {
    display: none;
}
main .content .right .btnGroup button.play.playing svg:nth-child(1) {
    display: none;
}
main .content .right .btnGroup button.play.playing svg:nth-child(2) {
    display: block;
}
main .content .right .btnGroup button.delete {
    background-color: #d0021b;
}
main .content .right a {
    color: #0078ff;
    text-decoration: none;
}
main .content .right a:hover {
    color: #5396e2;
}