@media screen and (max-width: 350px) {
    header > div:first-child {
        display: none;
    }
    header p {
        text-align: left;
        margin-left: 10px;
    }
}
@media screen and (min-width: 351px) {
    header p {
        text-align: center;
    }
}

#UploadLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #00000060;
    z-index: 110;
}
#UploadLayer.open {
    display: flex;
}
#UploadLayer > div {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 70vh;
    border-radius: 8px;
    background-color: #fff;
}

#UploadLayer .title {
    display: flex;
    justify-content: space-between;
}
#UploadLayer .title > * {
    flex: 1;
}
#UploadLayer .title > p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 50px;
}
#UploadLayer .title .btnGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    margin-right: 8px;
}
#UploadLayer .title .btnGroup button {
    cursor: pointer;
    border: #eeeeee50 1px solid;
    background-color: #fff;
}
#UploadLayer .title .btnGroup button svg {
    display: block;
    padding: 2px;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color .15s, box-shadow .15s;
}
#UploadLayer .title .btnGroup button svg:hover {
    background-color: #4a90e2;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
#UploadLayer .title .btnGroup button svg:hover path {
    transition: stroke .15s;
}
#UploadLayer .title .btnGroup button svg:hover path {
    stroke: #fff;
}
#UploadLayer .title .btnGroup .splitLine {
    width: 1px;
    height: 40%;
    margin: 0 5px;
    /* transform: translateY(-50%); */
    border-radius: 50%;
    background-color: #eeeeee;
}

#UploadLayer .content {
    /* height: 100%; */
    display: flex;
    padding: 12px;
    overflow: hidden;
}

#UploadLayer .content .preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
}
#UploadLayer .content .preview p {
    color: #777777;
}
#UploadLayer .content .preview img {
    width: 100%;
}

#UploadLayer .content .table {
    flex: 1;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px -5px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
#UploadLayer .content table {
    height: 100%;
    border-collapse: collapse;
    overflow: scroll;
}
#UploadLayer .content table thead {
    position: sticky;
    top: 0;
    background-color: #fff;
}
#UploadLayer .content table thead tr th {
    line-height: 50px;
    font-weight: 500;
}

#UploadLayer .content table th:nth-child(3),
#UploadLayer .content table td:nth-child(3) {
    width: 120px;
}
#UploadLayer .content table th:nth-child(4),
#UploadLayer .content table td:nth-child(4) {
    width: 80px;
}
#UploadLayer .content table th:nth-child(5),
#UploadLayer .content table td:nth-child(5) {
    width: 30px;
}
#UploadLayer .content table td:nth-child(5) svg {
    cursor: pointer;
}

/* 待上传 -> 准备中 -> 上传中 -> 成功 | 失败 */
#UploadLayer .content table td.waiting {color: #777777;}
#UploadLayer .content table td.waiting::after {content: "待上传";}
#UploadLayer .content table td.ready {color: #e6a23c;}
#UploadLayer .content table td.ready::after {content: "准备中";}
#UploadLayer .content table td.uploading {color: #0077ff;}
#UploadLayer .content table td.uploading::after {content: "上传中";}
#UploadLayer .content table td.finish {color: #67c23a;}
#UploadLayer .content table td.finish::after {content: "上传完成";}
#UploadLayer .content table td.falid {color: #f56c6c;}
#UploadLayer .content table td.falid::after {content: "上传失败";}

#UploadLayer .content table input[type="text"] {
    font-size: 1rem;
    padding: 7px 0;
}
#UploadLayer .content table tr {
    border-bottom: #eeeeee 1px solid;
}
#UploadLayer .content table th {
    text-align: left;
}
#UploadLayer .content table input[type="radio"],
#UploadLayer .content table input[type="checkbox"] {
    display: inline;
    width: auto;
}
table, tbody {
    display: block;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#mask {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 114;
    pointer-events: none;
    transition: background-color .2s;
}
#mask.show {
    display: flex;
    pointer-events: all;
    background-color: #00000060;
}
#mask p {
    display: none;
    font-size: 1.1rem;
    color: #fff;
    pointer-events: none;
}
#mask.show p {
    display: block;
}

body {
    min-width: 270px;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #eeeeee solid;
    background-color: #fff;
}
header > * {
    flex: 1;
}
header p {
    font-size: 1.2rem;
    line-height: 55px;
    white-space: nowrap;
}
header .btnGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}
header .btnGroup button {
    background-color: #fff;
    border: #eeeeee50 1px solid;
    cursor: pointer;
    /* outline: none; */
}
header .btnGroup button+button {
    margin-left: 8px;
}
header .btnGroup button svg {
    width: 20px;
    height: 20px;
    display: block;
    padding: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color .15s, box-shadow .15s;
}
header .btnGroup button svg:hover {
    background-color: #4a90e2;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
header .btnGroup button svg:hover path {
    transition: stroke .15s;
}
header .btnGroup button svg:hover path {
    stroke: #fff;
}

.Filter {
    --line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 18px;
    padding: 10px 15px;
}
.Filter .title {
    line-height: var(--line-height);
}
.Filter .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Filter .search input {
    flex: 1;
    padding: 0 5px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: transparent 1px solid;
    transition: border .2s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.Filter .search input:focus {
    border: #4a90e2 1px solid;
}

.Filter .type {
    display: flex;
    align-items: center;
}
.Filter .type:not(:has(li:nth-child(2))) {
    display: none;
}
.Filter .type ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.Filter .type ul li {
    line-height: var(--line-height);
    padding: 0 10px;
    min-width: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    font-size: .9rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.Filter .type ul li:hover {
    background-color: #f3f3f3;
}
.Filter .type ul li.sel {
    color: #fff;
    background-color: #4a90e2;
}

.itemBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 18px;
    padding: 15px;
}
.itemBox .item {
    aspect-ratio: 2/1;
    list-style: none;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border: 1px #eeeeee80 solid;
}
.itemBox .item p {
    text-align: center;
    padding: 0 10px;
    font-size: 1.1rem;
    line-height: 30px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.itemBox .item img {
    display: block;
    width: 100%;
}